* {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
background-color: rgb(54, 52, 52);
color: antiquewhite;
}


.hidden{
  display: none;
}

img {
  width: 500px;
  max-width: 100%;
}
.results {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  
  
  
}
.youtubeThumbnail {
  display:inline-block;
  max-width: 300px;
  padding: 20px;
}

h1 {
  text-align: center;
}
.baseInfo {
  display:flex;
  flex-direction: column;
  justify-content:center;
  text-align:center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  
}

.baseInfo img {
  margin-left: auto;
  margin-right: auto;
}

.gameResultsInfo {
display: flex;
justify-content: center;
margin-left: 0;
  margin-right: 0;
  
}
main {
  text-align: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  
}
h3 {
  background-color: crimson;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  
  
}

#gamesList {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}


@media screen and (max-width: 480px) {
  .header {
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .youtubeThumbnail {
  display:block;
  width: 300px;
  max-width: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.gameResultsInfo {
display: flex;
flex-direction: column;
justify-content: center;

  
}
  
}    
    
